/* GLOBAL ROOT */
@font-face {font-family: "Andale Mono", Monospace;}
:root{
  --htmlBG:url('/sitepics/bonespril.png')repeat;
  --mainBackground:#dddddd;
  --singleMainBackground:url('backgrounds/whitedotted.jpg');
  --linkColor:#75f019;
  --selectionColor:#558f3d;
}
/* GLOBAL */
@media screen and (max-width:790px){html{min-height:1400px; .imgBlock div{background:#000000e0; filter:opacity(100%);}}}
html{scroll-behavior: smooth; scrollbar-width: auto;font-family: "Andale Mono", Monospace; font-size:12px;}
body{
  background: url('/sitepics/bonespril.png')repeat;
  background-attachment:fixed;
  min-width:789px;
  margin: 0 auto;
}